<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>gcc-oa regist</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
	function doRegist() {
		$.ajax({
			type :'post',
			url : 'doRegist',
			dataType :'json',
			data : {
				username : $("#username").val()
			},
			success : function(data) {
				if (data.code == "1") {
					$("#username").val(null);
					alert(data.errorInfo);
				} else {
					alert(data.info);
					window.location.href = "login";
				}
			}
		});
	}
</script>
<body>
	<div class="login">
		<div class="center">
			<h1>Regist</h1>
			<div class="inputLi">
				<strong>用户名</strong>
				<input type="text" name="username" id="username" placeholder="请输入">
			</div>
			<!--<div class="inputLi">
				<strong>角色</strong>
				<input type="text" name="role" placeholder="请输入">
			</div>-->
			<div class="inputLi">
				<button onclick="doRegist()">注册</button>
			</div>
		</div>
	</div>
</body>
</html>