<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>后台管理系统</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" th:href="@{/js/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<script th:src="@{/js/jquery/jQuery-2.2.0.min.js}"></script>
	<script th:src="@{/js/charts/Chart.js}"></script>
	<script th:src="@{/js/echarts/echarts-all.js}"></script>
</head>
<body>
	<div id="areascontent">
		g20001
	</div>
</body>
</html>
